# Dependencies
node_modules/

# Production build output
dist/

# TypeScript build info cache
*.tsbuildinfo

# Environment variables & local files
.env
.env*.local

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
